<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_login.css') }}">
    <!-- Cargar íconos de FontAwesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="background-carousel">
        <div class="slide active">
            <img src="./static/img/banner.jpg" alt="Fondo 1">
        </div>
        <div class="slide">
            <img src="./static/img/fondo1.jpg" alt="Fondo 2">
        </div>
        <div class="slide">
            <img src="./static/img/fondo3.jpg" alt="Fondo 3">
        </div>
    </div>
    
    <div class="login-container">
        <!-- Logo -->
        <img src="./static/img/logo_prin.png" alt="Logo">

        <!-- Título -->
        <h1>INICIO DE SESIÓN</h1>

        <!-- Formulario -->
        <form method="post">
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <!-- Campo de usuario -->
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" id="nombre" name="nombre" placeholder="Usuario" required>
            </div>

            <!-- Campo de contraseña -->
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility()"></i>
            </div>

            <!-- Recordar -->
            <div class="remember">
                <input type="checkbox" id="recordar" name="recordar">
                <label for="recordar">Recordar</label>
            </div>

            <!-- Botón -->
            <button type="submit">Entrar</button>
        </form>
    </div>

    <!--Script para el carrusel -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const slides = document.querySelectorAll(".slide");
            let currentSlide = 0;
    
            function changeSlide() {
                slides[currentSlide].classList.remove("active");
                currentSlide = (currentSlide + 1) % slides.length;
                slides[currentSlide].classList.add("active");
            }
    
            setInterval(changeSlide, 3000); // Cambia cada 4 segundos
        });
    </script>
    
    <!--Script para ocultar contraseña -->
    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('contrasena');
            const toggleIcon = document.querySelector('.toggle-password');
        
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }
        
</script>
</body>
</html>
